name: Deploy to AWS

on:
  push:
    branches:
      - main

jobs:
 modal:
   uses: ./.github/workflows/modal.yml
   secrets:
     MODAL_TOKEN_ID: ${{ secrets.MODAL_TOKEN_ID }}
     MODAL_TOKEN_SECRET: ${{ secrets.MODAL_TOKEN_SECRET }}
    
  deploy:
    environment: tensara
    runs-on: ubuntu-latest
#    needs: modal

    steps:
      - name: Configure SSH
        env:
          SSH_PRIVATE_KEY: ${{ secrets.AWS_SSH_PRIVATE_KEY }}
          SSH_HOST: ${{ secrets.AWS_HOST }}
          SSH_USER: ${{ secrets.AWS_USER }}
        run: |
          mkdir -p ~/.ssh/
          echo "$SSH_PRIVATE_KEY" > ~/.ssh/deploy_key
          chmod 600 ~/.ssh/deploy_key
          echo -e "Host aws\n\tHostName $SSH_HOST\n\tUser $SSH_USER\n\tIdentityFile ~/.ssh/deploy_key\n\tStrictHostKeyChecking no" > ~/.ssh/config

      - name: Run Deployment Script on AWS
        run: |
          ssh aws 'cd ~/code/tensara && chmod +x deploy.sh && ./deploy.sh'

