name: pnpm build check

on:
  pull_request:
    branches: [main]

jobs:
  pnpm-build:
    runs-on: ubuntu-latest
    environment: tensara

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: "23.8.0"

      - uses: pnpm/action-setup@v2
        with:
          version: 9.12.2

      - name: Debug file structure
        run: |
          echo "Checking import file existence:"
          ls -la src/components/problem/
          echo "Checking tsconfig paths:"
          cat tsconfig.json | grep -A 5 "paths"

      - name: Run build
        env:
          AUTH_SECRET: "fake_auth_secret"
          AUTH_GITHUB_ID: "fake_auth_github_id"
          AUTH_GITHUB_SECRET: "fake_auth_github_secret"
          DATABASE_URL: "postgresql://fake_database_url"
          NEXT_PUBLIC_GA_ID: "fake_ga_id"
          MODAL_ENDPOINT: "https://fake_modal_endpoint"
          NEXT_PUBLIC_BASE_URL: "https://tensara.org"
          BOT_GITHUB_APP_ID: "9999999"
          BOT_GITHUB_APP_PRIVATE_KEY: "some_private_key"
          BOT_GITHUB_APP_INSTALLATION_ID: "99999999"

        run: pnpm install && pnpm run build
